#json_source_editor {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 5;
}

#json_source_editor #json_source_container {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background-color: #B0B0B0;
  opacity: 1.0;
  text-align: center;
  border: 1px outset #777;
  z-index: 6;
}

.toolbar_button button {
  border:1px solid #dedede;
  line-height:130%;
  float: left;
  background: #E8E8E8 none;
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
  margin: 5px 20px 0 0;
  border: 1px #808080 solid;
  border-top-color: #FFF;
  border-left-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.toolbar_button button:hover {
  border: 1px #e0a874 solid;
  border-top-color: #fcd9ba;
  border-left-color: #fcd9ba;
  background-color: #FFC;
}
.toolbar_button button:active {
  background-color: #F4E284;
  border-left: 1px solid #663300;
  border-top: 1px solid #663300;
}

.toolbar_button button .svg_icon {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
}

#json_source_editor form {
  position: absolute;
  top: 40px;
  bottom: 30px;
  width: 100%;
}

#json_source_editor #json_source_textarea {
  position: relative;
  width: 95%;
  height: 95%;
  padding: 5px;
  font-size: 12px;
}
